@font-face{
	font-family: "BEBAS";
	src: url("../fonts/BebasNeue.otf") format("opentype");
}

body{
	background-image: url("../imagenes/fondo2.jpg");
	background-size: 100%;
	font: 14px "Myriad Pro", "Lucida Sans";
	line-height: 1.8em;
	color: rgb(65,60,125);
	margin: 0px;
	padding: 0px;
}

header{
	background-image: url("../imagenes/fondo1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}

nav{
	font: 18px "BEBAS","Tahoma";
	height: auto;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	background-color: rgba(94,20,30,0.6);
	width: 100%;
}

h1{
	font-family: "BEBAS","Tahoma";
	color: rgb(50,45,80);
}

.navbar{
	float: left;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.navbar li{
	float: left;

}

.navbar li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover{
	background-color: rgb(155,35,55);
}

.navbar li.activo a{
	color: rgb(240,35,85);
}

.navbar-corp{
	float: right;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.navbar-corp li{
	float: right;

}

.navbar-corp li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar-corp li a:hover{
	background-color: rgb(155,35,55);
}

.navbar-corp li.activo a{
	color: rgb(240,35,85);
}

.contenido{
	min-height: 400px;
	margin: 0em 8em;
	padding: 2em 0em;
}

.col1{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.col2{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	padding: 0em 1em;
}

.msg{
	color: red;
}

footer{
	background-image: url("../imagenes/fondo1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	color: white;
	margin: 0px;
	height: 150px;
}

.noticias{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	border-radius: 20px;
	border: 1px solid rgb(50,45,80);
	background-color: rgba(255,255,255,0.6);
	box-shadow: 10px 10px 10px dimgray;
}

.comentarios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	border-radius: 20px;
	border: 1px solid rgb(50,45,80);
	margin-left: 2em;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 10px 10px 10px dimgray;
}

.tituloPanel{
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: rgb(50,45,80);
	border-radius: 19px 19px 0px 0px;
}

.nota{
	margin: 0em 2em;
	padding: 1em 0em;
}

.tituloNota{
	font-weight: bold;
	border-top: 1px dashed rgb(50,45,80);
	color: rgb(50,45,80);
	margin: 0px;
	padding: 0px;
}

.contenidoNota{
	color: rgb(65,60,125);
	font-size: 12px;
	border-bottom: 1px dashed rgb(50,45,80);
	margin: 0px;
	padding: 0px;
}

.foto{
	width: 20%;
	display: inline-block;
}

.texto{
	width: 75%;
	display: inline-block;
}

.avatar{
	width: 40px;
	height: 40px;
}

input{
	font: 14px "Myriad Pro", "Lucida Sans";
	width: 100%;
	margin: 3px;
}

textarea{
	font: 14px "Myriad Pro", "Lucida Sans";
	width: 100%;
	height: 6em;
}
form{
	margin: 8px;
	padding: 0em 2em;
	text-align: center;
}

.btnEnviar{
	font: 14px "Myriad Pro", "Lucida Sans";
	border: none;
	font-weight: bold;
	color: white;
	height: 30px;
	background-color: rgb(180,40,60);
	width: 30%;
	border-radius: 12px;
}